@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*--------------------------------------------------------------
# Globális stílusok
--------------------------------------------------------------*/

body {
    background-color: azure;
}

h1 {
    color: #222;
}

h2 {
    color: #222;
}

h3 {
    color: #222;
}

h4 {
    color: #222;
}

h6 {
    color: #222;
    font-size: 700;
    font-size: 12px;
}

p {
    font-size: 18px;
    color: #070707;
}

/*--------------------------------------------------------------
# Fejléc
--------------------------------------------------------------*/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: aliceblue;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    height: 80px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

#header .logo {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #000;
}

#navbar li {
    list-style: none;
    padding: 0 50px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 3px;
    background-color: #088178;
    position: absolute;
    ;
    bottom: -2px;
    left: 50px;
}

#navbar i {
    font-size: 25px;
}

#mobile {
    display: none;
    align-items: center;
}

#bar {
    cursor: pointer;
}

#close {
    display: none;
}

/*--------------------------------------------------------------
----------------------------------------------------------------
            Kezdőlap
----------------------------------------------------------------
--------------------------------------------------------------*/

#banner {
    background-image: url("assets/index/banner.jpg");
    height: 65vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/*--------------------------------------------------------------
# oldal választó
--------------------------------------------------------------*/
#pages {
    padding: 30px;
}

#pages h2 {
    display: flex;
    justify-content: center;
}

#pages img {
    width: 100%;
    height: 50%;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.6);
    border: 1px solid #cce7d0;
    border-radius: 20px;
    margin: 15px 0;
}

#pages img:hover {
    box-shadow: 12px 12px 54px rgba(70, 62, 221, 0.4);
}

#pages p {
    padding-top: 10px;
}

#pages .grap {
    color: blue;
}

#pages .invest {
    color: green;
}

#pages .cont {
    color: blueviolet;
}

#index-btn {
    background-color: #088178;
    color: white;
    border: 1px solid #066d64;
}

#index-btn:hover {
    background-color: #066d64;
    color: #c5dfdd;
}

/* #graph-btn {
    margin-top: 5px;
    margin-left: 75px;
}

#graph-btn input {
    background-color: #088178;
    color: white;
    border: 1px solid #066d64;
}

#graph-btn input:hover {
    background-color: #066d64;
    color: #c5dfdd;
} */

/*--------------------------------------------------------------
# Ajánlatok
--------------------------------------------------------------*/
#feature {
    padding: 30px;
}

#feature h1 {
    display: flex;
    justify-content: center;
    margin: 15px;
}

#feature .base-img {
    height: 300px;
    margin-top: 30px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 30px;
}

#feature .animation-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#feature .base-img:hover .animation-img,
.base-img:focus .animation-img {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

#feature .base-img:hover .animation-img:before,
.base-img:focus .animation-img:before {
    display: block;
}

#feature .base-img:hover a,
.base-img:focus a {
    display: block;
}

#feature .animation-img:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(52, 73, 94, 0.75);
}


#feature .bg-one {
    background-image: url(assets/invest/boat.webp);
}

#feature .bg-two {
    background-image: url(assets/invest/swimming.jpg);
}

#feature .bg-three {
    background-image: url(assets/invest/cycle.jpg);
}

#feature .bg-four {
    background-image: url(assets/invest/family.jpg);
}

#feature .bg-five {
    background-image: url(assets/invest/europe.jpg);
}

#feature .bg-six {
    background-image: url(assets/invest/energy.jpg);
}

#feature .row a {
    display: none;
    font-size: 35px;
    color: #ffffff;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
}

/*--------------------------------------------------------------
----------------------------------------------------------------
            Grafikonrajzoló oldal
----------------------------------------------------------------
--------------------------------------------------------------*/
.graph-banner {
    background-image: url("assets/index/graphic.png");
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
}


#graph-desctription p {
    font-size: 18px;
    padding-top: 25px;
    padding-left: 80px;
    padding-right: 80px;
    color: #222;
}

#graph-desctription h4 {
    font-size: 30px;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    color: #088178;
}

#graph-type {
    margin-top: 30px;
    margin-left: 85px;
    font-size: 18px;
}

.form-check-input {
    cursor: pointer;
    border: 1px solid #088178;
    position: relative;
    width: 18px;
    height: 18px;
}

.form-check-input:checked {
    background-color: #088178;
    border: 1px solid #088178;
}

#graph-type label {
    padding-left: 5px;
    letter-spacing: 1px;
}

.form-check-input:checked~label {
    color: #000;
    font-weight: 700;
}

#graph-type .lineout:after,
#graph-type .lineout-2:after,
#graph-type .lineout-3:after,
#graph-type .lineout-4:after,
#graph-type .lineout-5:after {
    content: '';
    position: absolute;
    width: 140px;
    height: 3px;
    bottom: -8px;
    left: 32px;
    transform: scaleX(0);
    background-color: #066d64;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

#graph-type .lineout-2:after {
    width: 148px;
}

#graph-type .lineout-3:after {
    width: 115px;
}

#graph-type .lineout-4:after {
    width: 142px;
}

#graph-type .lineout-5:after {
    width: 156px;
}

#graph-type .lineout:hover:after,
#graph-type .lineout-2:hover:after,
#graph-type .lineout-3:hover:after,
#graph-type .lineout-4:hover:after,
#graph-type .lineout-5:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#graph-invests {
    width: 1830px;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 80px;
    font-size: 16px;
}

#graph-invests table {
    border-top: 10px solid azure;
    border-bottom: 10px solid azure;
    background-color: azure;
}

#graph-invests table thead th {
    border-bottom: 1px solid azure;
    display: flex;
    align-items: center;
}

#graph-invests .table td,
.table th {
    border-top: 1px solid azure;
}

#graph-invests td {
    width: 33%;
    height: 30px;
}

#graph-invests th i {
    color: #088178;
    font-size: 20px;
    margin-bottom: 10px;
}

#graph-invests h3 {
    padding-left: 10px;
    letter-spacing: 1px;
    font-weight: 600;
}

#graph-invests label {
    padding-top: 2px;
    margin-left: 3px;
    cursor: pointer;
}

#graph-invests a {
    margin-left: 10px;
    text-decoration: none;
    color: #222;
}

#graph-invests a:hover {
    text-decoration: underline;
    color: #066d64;
    font-weight: 600;
}

#graph-invests i {
    color: #088178;
}

#graph-invests i:hover {
    transform: translateX(5px);
    transition: transform 0.2s ease-out;
}



#graph-invests .form-check-input:checked~label {
    color: #000;
    font-weight: 600;
}

#graph-value {
    max-width: 1800px;
    margin-left: 20px;
    margin-bottom: 50px;
    font-size: 18px;
}

#graph-value .value-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 60px;
}

#graph-value .value-header h3 {
    padding-left: 10px;
    letter-spacing: 1px;
    font-weight: 600;
}

#graph-value .value-header i {
    color: #066d64;
    font-size: 20px;
    margin-bottom: 10px;
}

.graph-value {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

#graph-value .form-check {
    padding-left: 100px;
    padding-right: 130px;
}

#graph-value .form-check input {
    margin-bottom: 7px;
    margin-right: 5px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 500px;
    margin-left: 30px;
}

.container .input-group {
    margin-bottom: 1em;
    background-color: white;
    width: 200px;
    cursor: pointer;
    border: 1px solid #222;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
}

.container [placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.5s 0.5s ease;
    text-indent: -100%;
    opacity: 1;
}

.container input[type="text"],
.container textarea {

    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
}

.container input[type="text"]:focus,
.container textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(5, 5, 5);
}

.container input[class="form-control"],
.container textarea {
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
}

.container input[class="form-control"]:focus,
.container textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
}

input[class="form-control"] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #066d64;
}

.container span.input-group-text.bg-light.d-block {
    background-color: white;
    border: none;
}

.container .input-group-append {
    cursor: pointer;
    background-color: white;
    border-radius: 100%;
}

.container i.fa.fa-calendar {
    padding: 4px;
    color: #1f7973;
    background-color: white
}

.container .datepicker td,
.container th {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
}

.container .datepicker {
    top: 6em;
    border: 1px solid #032b28;
}

.inline-error {
    font-size: 18px;
    font-weight: 600;
    color: rgb(250, 10, 10);
    margin-left: 40px;
    margin-bottom: 5px;
}

#graph-btn {
    margin-top: 5px;
    margin-left: 75px;
}

#graph-btn input {
    background-color: #088178;
    color: white;
    border: 1px solid #066d64;
}

#graph-btn input:hover {
    background-color: #066d64;
    color: #c5dfdd;
}

#graphTime {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #066d64;
    font-size: 24px;
}

#graph {
    display: flex;
    align-items: center;
    justify-content: center;

}

#myChart {
    max-width: 1500px;
    min-height: 700px;
}

/*--------------------------------------------------------------
----------------------------------------------------------------
            Befektetések oldal
----------------------------------------------------------------
--------------------------------------------------------------*/

.invest-banner {
    background-image: url("assets/invest/invest.jpeg");
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: top 95% right 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
    padding-top: 60px;
}

.invest-banner h2,
.invest-banner p {
    font-size: 30px;
}

/*--------------------------------------------------------------
# Befektetések típusai
--------------------------------------------------------------*/
#invest {
    padding: 150px 150px 0 15px;
}

#invest .invest-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 90px;
}

#invest .invest-img {
    width: 50%;
    margin-right: 40px;
}

#invest img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 17px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.6);
}

#invest .inv-onethree {
    border-radius: 20px;
    border: 2px solid #465b52;
}

#invest .inv-two {
    border-radius: 20px;
    border: 2px solid cornflowerblue;
}

#invest .inv-fourfive {
    border-radius: 20px;
    border: 2px solid bisque;
}

#invest .inv-six {
    border-radius: 20px;
    border: 2px solid whitesmoke;
}


#invest .invest-details {
    width: 50%;
}

#invest .invest-details a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#invest .invest-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}


#invest .invest-details a:hover {
    color: #088178;
}

#invest .invest-details a:hover:after {
    background-color: #088178;
}

#invest .invest-box h1 {
    position: absolute;
    top: -55px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}

#invest-types {
    margin: 50px;
}

#invest-types h1 {
    margin-bottom: 15px;
}

#invest-types h2 {
    margin-bottom: 35px;
}

#invest-types img {
    margin-right: 15px;
}

/*--------------------------------------------------------------
# Andante
--------------------------------------------------------------*/
.andante-banner {
    background-image: url("assets/invest/boat.webp");
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: top 95% right 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
    padding-top: 60px;
}

.question-andante {
    background-color: #8d9b50;
    ;
    color: #fcfefe;
    position: absolute;
    right: 300px;
    bottom: 300px;
    font-size: 25px;
    width: 300px;
    text-align: center;
    border: 1px solid #c5d86d;
    ;
    border-radius: 4px;
    margin: 15px 0;
}

.question-andante:hover {
    color: #fcfefe;
    text-decoration: none;
    list-style: none;
}

/*--------------------------------------------------------------
# Moderato
--------------------------------------------------------------*/
.moderato-banner {
    background-image: url("assets/invest/swimming.jpg");
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: top 65% right 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
    padding-top: 60px;
}

.question-moderato {
    background-color: #F0F8FF;
    color: #222;
    position: absolute;
    right: 250px;
    bottom: 300px;
    font-size: 25px;
    width: 300px;
    text-align: center;
    border: 1px solid #F0F8FF;
    border-radius: 4px;
    margin: 15px 0;
}

.question-moderato:hover {
    color: black;
    text-decoration: none;
    list-style: none;
}

/*--------------------------------------------------------------
# Allegro
--------------------------------------------------------------*/
.allegro-banner {
    background-image: url("assets/invest/cycle.jpg");
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: top 65% right 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
    padding-top: 60px;
}

.question-allegro {
    background-color: #556B2F;
    color: #222;
    position: absolute;
    right: 370px;
    bottom: 320px;
    font-size: 25px;
    width: 300px;
    text-align: center;
    border: 1px solid #556B2F;
    border-radius: 4px;
    margin: 15px 0;
}

.question-allegro:hover {
    color: black;
    text-decoration: none;
    list-style: none;
}

/*--------------------------------------------------------------
# Család
--------------------------------------------------------------*/
.family-banner {
    background-image: url("assets/invest/family.jpg");
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: top 65% right 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
    padding-top: 60px;
}

.question-family {
    background-color: bisque;
    color: #222;
    position: absolute;
    right: 250px;
    bottom: 320px;
    font-size: 25px;
    width: 300px;
    text-align: center;
    border: 1px solid #F0E68C;
    border-radius: 8px;
    margin: 15px 0;
}

.question-family:hover {
    color: black;
    text-decoration: none;
    list-style: none;
}

/*--------------------------------------------------------------
# Európa
--------------------------------------------------------------*/
.europe-banner {
    background-image: url("assets/invest/europe.jpg");
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: top 40% right 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
    padding-top: 60px;
}

.question-europe {
    background-color: #F0E68C;
    color: #222;
    position: absolute;
    right: 250px;
    bottom: 320px;
    font-size: 25px;
    width: 300px;
    text-align: center;
    border: 1px solid #F0E68C;
    border-radius: 8px;
    margin: 15px 0;
}

.question-europe:hover {
    color: black;
    text-decoration: none;
    list-style: none;
}

/*--------------------------------------------------------------
# Megújuló
--------------------------------------------------------------*/
.renew-banner {
    background-image: url("assets/invest/energy.jpg");
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: top 40% right 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
    padding-top: 60px;
}

.question-renew {
    background-color: #c5dfdd;
    color: #222;
    position: absolute;
    left: 200px;
    bottom: 320px;
    font-size: 25px;
    width: 300px;
    text-align: center;
    border: 1px solid #e1f4f3;
    border-radius: 15px;
    margin: 15px 0;
}

.question-renew:hover {
    color: black;
    text-decoration: none;
    list-style: none;
}

/*--------------------------------------------------------------
# Az alapokról szóló rész
--------------------------------------------------------------*/
.scrolldown {
    transform: translate(1%);
    width: 100%;
    height: 10px;
}

.scrolldown::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    animation: animate 5s linear;
    border-radius: 10px;
    padding-top: 15px;
}

@keyframes animate {
    0% {
        transform-origin: top;
        transform: scalex(0);
    }

}

#risk {
    margin-top: 50px;
}

.risk {
    font-size: 18px;
    color: #070707;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}

#yearly {
    margin-top: 50px;
}

#yearly img {
    max-width: 140px;
    max-height: 100px;
    border-radius: 10%;
    background-color: white;
    margin-top: 20px;
}

/*--------------------------------------------------------------
# Táblák az alapokhoz
--------------------------------------------------------------*/
.tables {
    width: 100%;
    height: 80px;
    background-color: #fff;
    font-size: 2rem;
    border-right: 1px solid black;
    border-radius: 10px;
    margin-right: 200px;
}

.table-side-1 {
    width: 10%;
    border-left: 1px solid black;
    text-align: center;
}

.table-side-2 {
    width: 10%;
    border-left: 1px solid black;
    text-align: center;
}

.table-side-3 {
    width: 10%;
    border-left: 1px solid black;
    text-align: center;
}

.table-side-4 {
    width: 10%;
    border-left: 1px solid black;
    text-align: center;
}

.table-side-5 {
    width: 10%;
    border-left: 1px solid black;
    text-align: center;
}

.table-side-6 {
    width: 10%;
    border-left: 1px solid black;
    text-align: center;
}

.table-side-7 {
    width: 10%;
    border-left: 1px solid black;
    text-align: center;
}

.table-side-8 {
    width: 10%;
    border-left: 1px solid black;
    text-align: center;
}

.table-side-9 {
    width: 10%;
    border-left: 1px solid black;
    text-align: center;
}

.table-side-10 {
    width: 10%;
    border-left: 1px solid black;
    text-align: center;
}

.table-active {
    width: 10%;
    font-size: 2.5rem;
    background-color: rgba(10, 185, 235, 0.8);
    color: #fff;
    border: none;
}

.table-activeplus {
    border: none;
}

/*--------------------------------------------------------------
----------------------------------------------------------------
        Kapcsolatok
----------------------------------------------------------------
--------------------------------------------------------------*/

.contact-banner {
    background-image: url("assets/contact/contact-us.jpeg");
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: top 95% right 0;
    margin-bottom: 60px;
    overflow: hidden;
}

/*--------------------------------------------------------------
# Kapcsolat adatok
--------------------------------------------------------------*/
#contact-details {
    padding-bottom: 30px;
}

#contact-details h1,
#contact-details h2,
#contact-details h4 {
    padding: 0 0 20px 40px;
}

#contact-details li {
    list-style: none;
    padding-left: 40px;
}

#contact-details li i {
    font-size: 20px;
    padding-right: 22px;
}

#contact-details li p {
    margin: 0;
    font-size: 20px;
}

#contact-details .map {
    padding: 20px 0 20px 55px;
}

#contact-details .map iframe {
    width: 90%;
    height: 100%;
}

/*--------------------------------------------------------------
# Email küldő oldal
--------------------------------------------------------------*/
#form-details {
    margin: 30px 80px 30px 30px;
    padding: 50px;
    border: 5px solid #e1e1e1;
    border-radius: 10px;
}

#form-details form {
    width: 70%;
    display: flex;
    flex-direction: column;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    width: 100px;
    background-color: #088178;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #088178;
    margin-bottom: 20px;
}

#form-details form button:hover {
    background-color: #066d64;
    color: #f5f3f3;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/*--------------------------------------------------------------
# Lábjegyzék
--------------------------------------------------------------*/
#footer {
    padding: 30px;
}

#footer .logo {
    margin-bottom: 15px;
    width: 50px;
    height: 50px;
}

#footer h4 {
    font-size: 26px;
    padding-bottom: 20px;
}

#footer .about h4 {
    padding-top: 63px;
}

#footer .install h4 {
    padding-top: 50px;
}

#footer p {
    font-size: 18px;
    margin-bottom: 10px;
}

#footer li {
    list-style: none;
    margin-bottom: 10px;
}

#footer a {
    font-size: 20px;
    text-decoration: none;
    color: #032b28;
    margin-bottom: 30px;
}

#footer .follow {
    margin-top: 20px;
}

#footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
    font-size: 30px;
}

#footer .install .row {
    max-width: 500px;
    max-height: 300px;
    display: inline-flex;
    flex-direction: row;
}

#footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
    margin: 10px 10px 20px 10px;
    width: 200px;
}

#footer .install img {
    margin: 10px 0 15px 0;
}

#footer .follow i:hover,
#footer a:hover {
    color: #088178;
}

#footer .copyright {
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

/*--------------------------------------------------------------
----------------------------------------------------------------
        Nézet beállítások
----------------------------------------------------------------
--------------------------------------------------------------*/
@media (max-width: 1649px) {
    #graph-value .form-check {
        padding-left: 70px;
        padding-right: 90px;
    }
}

@media (max-width: 1349px) {
    #base {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #risk {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #yearly {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #graph-invests {
        margin-left: 50px;
    }

    #graph-value .form-check {
        padding-left: 55px;
        padding-right: 80px;
    }

}

@media (max-width: 1299px) {
    #feature {
        margin-top: 50px;
    }

    #graph-invests {
        margin-left: 40px;
    }

    #graph-value .form-check {
        padding-left: 45px;
        padding-right: 60px;
    }
}


@media (max-width: 1099px) {
    #navbar {
        display: flex;
        flex-direction: column;
        ;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 250px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #222;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #invest {
        padding: 100px 20px 0 20px;
    }

    #invest .invest-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #invest .invest-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #invest .invest-details {
        width: 100%;
    }

    #feature {
        margin-top: 90px;
    }

    .index-contact {
        margin-top: 70px;
    }

    #graph-value {
        margin-left: 40px;
    }

    #graph-value .form-check {
        margin-left: 40px;
        font-size: 16px;
    }

    .graph-value {
        display: flex;
        justify-content: space-evenly;
    }
}

@media (max-width: 983px) {
    #graph-value {
        margin-left: -10px;
    }

    .graph-value {
        display: inline;
    }
}

@media (max-width: 767px) {
    #feature {
        margin-top: 0;
    }

    #pages {
        padding-top: 90px;
    }

    #graph-invests {
        font-size: 16px;
        margin-left: 30px;
    }
}

@media (max-width: 646px) {
    #feature {
        margin-top: 0;
    }

    #pages {
        padding-top: 90px;
    }

    #graph-invests {
        font-size: 14px;
        margin-left: 20px;
    }
}